MICROSOFT_TENANT_ID=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
TEAMS_TEAM_ID=
TEAMS_CHANNEL_ID=
POLL_INTERVAL_SECONDS=30
WORKER_INTERVAL_SECONDS=5
ATTACHMENT_MAX_MB=25
ATTACHMENT_RETRY_LIMIT=6
WHISPER_MODEL=small
CONTENT_WORKER_INTERVAL_SECONDS=5
CONTENT_RETRY_LIMIT=3